@page
@model PizzaPalace.Pages.PizzaOrder.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PizzaOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PizzaOrder.OrderItem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PizzaOrder.OrderItem.OrderItemId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaOrder.Pizza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PizzaOrder.Pizza.PizzaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PizzaOrder.PizzaOrderId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
