@page
@model PizzaPalace.Pages.Order.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Orders.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Orders.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Orders.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Orders.Customer.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Orders.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Orders.Store.StoreId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Orders.OrderId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
