@page
@model PizzaPalace.Pages.BeverageOrders.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeverageOrder[0].Beverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeverageOrder[0].OrderItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BeverageOrder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Beverage.BeverageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItem.OrderItemId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BeverageOrderId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BeverageOrderId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BeverageOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
