@page
@model PizzaPalace.Pages.PizzaToppings.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PizzaToppings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PizzaToppings.PizzaOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PizzaToppings.PizzaOrder.PizzaOrderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaToppings.Topping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PizzaToppings.Topping.ToppingId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PizzaToppings.PizzaToppingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
